node_modules/
coverage/
build/
.idea/
*.tgz
.DS_Store
/test-results/
/playwright-report/
/playwright/.cache/
integration/contract_testing/cypress/videos/
integration/contract_testing/cypress-allure/
integration/contract_testing/cypress/screenshots/
integration/contract_testing/allure-results/
integration/contract_testing/allure-report/
integration/contract_testing/cypress/downloads
integration/product_staging/cypress/screenshots/
integration/product_staging/cypress/videos/
integration/product_staging/cypress/downloads/
integration/product_staging/cypress/results/cypress_tests.json