/*******************************************************************************
 * COPYRIGHT Ericsson 2023 - 2024
 *
 *
 *
 * The copyright to the computer program(s) herein is the property of
 *
 * Ericsson Inc. The programs may be used and/or copied only with written
 *
 * permission from Ericsson Inc. or in accordance with the terms and
 *
 * conditions stipulated in the agreement/contract under which the
 *
 * program(s) have been supplied.
 ******************************************************************************/
:host {
  display: block;
  font-size: 14px;
  padding: 0 var(--space-large) 0 var(--space-large);
}

.app-empty-state {
  align-items: center;
  display: flex;
  font-size: 14px;
  gap: var(--space-base);
  height: var(--space-large);
  width: fit-content;
}

.app-header {
  font-size: 16px;
  padding-right: var(--space-xl);
}

.action-buttons {
  float: right;
}

.executions-display {
  vertical-align: middle;
}

.app-table-container {
  padding-right: var(--space-xl);
  height: 83vh;
}
